/* Common */
html,
body {
  padding: 0;
  margin: 0;
  background: #ecf0f1;
  font: normal 12px "Lucida Console", Monaco, monospace;
  color: #555555;
}
h1 {
  font: 3em Courier;
  color: #ffffff;
}
h3 {
  margin: 1.5em 0;
  font: 1.4em Courier;
  color: #457e96;
}
input[type='button'] {
  padding: .6em 1.2em;
  border: 0;
  background: #457e96;
  font: 1.4em Courier;
  color: #ffffff;
}
img {
  display: block;
}
.hidden {
  display: none !important;
}
.selected {
  color: #6bb3e5;
}
/* Layout */
header {
  background: #457e96;
  text-align: center;
}
header h1 {
  margin: 0;
  padding: .4em;
}
#content {
  width: 600px;
  margin: auto;
}
#content .questionHolder {
  min-height: 300px;
}
#content .answersCount {
  display: block;
  float: right;
}
#content .panel {
  margin: 2em 0;
  padding: .1em 2em 1.5em;
  background: #ffffff;
  overflow: hidden;
}
#content .panel .holder {
  min-height: 460px;
}
#content .panel .number {
  margin-right: 1.2em;
  color: #457e96;
}
#content .panel img {
  display: block;
  margin: 1.8em auto;
}
#content .panel li {
  cursor: pointer;
}
#content .panel li:hover {
  color: #6bb3e5;
}
